In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('shopping.csv')

months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
d = {month_: i for i, month_ in enumerate(months)}
df['Month'] = df['Month'].replace(d)

df["VisitorType"] = df["VisitorType"].replace({"New_Visitor":0, "Returning_Visitor":1, "Other":0})

df["Weekend"] = df["Weekend"].replace({False:0, True:1})

df["Revenue"] = df["Revenue"].replace({False:0, True:1})
df.head(15)

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.0,0.0,1,1,1,1,1,1,0,0
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.0,0.0,1,2,2,1,2,1,0,0
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.0,0.0,1,4,1,9,3,1,0,0
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.0,0.0,1,3,2,2,4,1,0,0
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.0,0.0,1,3,3,1,4,1,1,0
5,0,0.0,0,0.0,19,154.216667,0.015789,0.024561,0.0,0.0,1,2,2,1,3,1,0,0
6,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.0,0.4,1,2,4,3,3,1,0,0
7,1,0.0,0,0.0,0,0.000000,0.200000,0.200000,0.0,0.0,1,1,2,1,5,1,1,0
8,0,0.0,0,0.0,2,37.000000,0.000000,0.100000,0.0,0.8,1,2,2,2,3,1,0,0
9,0,0.0,0,0.0,3,738.000000,0.000000,0.022222,0.0,0.4,1,2,4,1,2,1,0,0
10,0,0.0,0,0.0,3,395.000000,0.000000,0.066667,0.0,0.0,1,1,1,3,3,1,0,0
11,0,0.0,0,0.0,16,407.750000,0.018750,0.025833,0.0,0.4,1,1,1,4,3,1,0,0
12,0,0.0,0,0.0,7,280.500000,0.000000,0.028571,0.0,0.0,1,1,1,1,3,1,0,0
13,0,0.0,0,0.0,6,98.000000,0.000000,0.066667,0.0,0.0,1,2,5,1,3,1,0,0
14,0,0.0,0,0.0,2,68.000000,0.000000,0.100000,0.0,0.0,1,3,2,3,3,1,0,0

In [2]:
evidence, labels = [], []

for idx, row in df.iterrows():

    row_ = list(row.values)
    evidence.append(row_[:17])
    labels.append(row_[17])


print(len(evidence[0]))
print(len(labels))

17
12330

In [3]:
print(list(df.iloc[0]))

[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.2, 0.2, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0]

In [4]:
[0, 0.0, 0, 0.0, 1, 0.0, 0.2, 0.2, 0.0, 0.0, 1, 1, 1, 1, 1, 1, 0]

[0, 0.0, 0, 0.0, 1, 0.0, 0.2, 0.2, 0.0, 0.0, 1, 1, 1, 1, 1, 1, 0]

In [5]:
for c in df.columns:
    print(c)
    print(df[c].dtype)

Administrative
int64
Administrative_Duration
float64
Informational
int64
Informational_Duration
float64
ProductRelated
int64
ProductRelated_Duration
float64
BounceRates
float64
ExitRates
float64
PageValues
float64
SpecialDay
float64
Month
int64
OperatingSystems
int64
Browser
int64
Region
int64
TrafficType
int64
VisitorType
int64
Weekend
int64
Revenue
int64

In [6]:
df.groupby("VisitorType").count()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,Weekend,Revenue
VisitorType,,,,,,,,,,,,,,,,,
0,1779,1779,1779,1779,1779,1779,1779,1779,1779,1779,1779,1779,1779,1779,1779,1779,1779
1,10551,10551,10551,10551,10551,10551,10551,10551,10551,10551,10551,10551,10551,10551,10551,10551,10551